//Colour scheme for all sass files this file alone should never be added to a webpage
$nav_colour: #49bf67;
$nav_colour_focus: #38a955;

$nav_mobile_colour: #60ceb0;
$nav_mobile_colour_focus: #5ab79e;



//Old colour scheme
$accent_colour: #F45B69;
$accent_colour_focus: #da5864;

$block_colour: rgba(255, 255, 255, 0.75);

$link_colour: #039be5;
$link_colour_footer: #e6f6ff;
$text_colour: #4e4e4e;
$background-color: rgb(218, 234, 217);

$color1: #114B5F;
$color2: #028090;
$color3: #E4FDE1;
$color4: #456990;
$color5: #F45B69;